<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<style>
*{
text-align: center;
}
input[type="text"],input[type="password"],select,input[type="date"]{
border-radius: 20px;
padding: 10px;
margin:auto;
border: 3px solid gray;
}
div{
padding: 10px;
}
</style>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div th:replace="top :: myIncludedFragment"></div>
<hr>
<!-- 탑과 사이드를 구분하기 위해 추가 -->
<div style="display: flex;">
	<!-- 탑과 사이드를 같은 줄에 배치하기 위해 추가 -->
</div>
<body style="padding-top: 150px;">
	<main>
		<form action="register" method="post" name="join">
			<div style="text-align: center;">
				<div style="padding: 10px;">
					<span>
					 <input type="text" id="email" name="email" placeholder="이메일">
						<input type="button" style="background-color: #4CA950; border-radius: 20px; padding: 10px; color:white;" id="idcheck" value="중복확인">
						<button type="button" style="background-color: #4CA950; border-radius: 20px; padding: 10px; color:white;" id="send-email-button">인증코드 발송</button> <br>
						<span for="verification-code"></span> 
						<input type="text" placeholder="인증번호 "id="verification-codechk" name="verification-codechk"> 
						<input type="button"style="background-color: #4CA950; border-radius: 20px; padding: 10px; color:white;" id="emailcheck" name="emailcheck" value="인증"><br>
						 <span id="true"></span>
						 <span id="codeOk"></span>
					</span>
				</div>
				<div>
					<span>
						<input type="password" id="password" name="password" placeholder="비밀번호">
					</span> 
					<span>
						<input type="password" id="password2" name="password2" placeholder="비밀번호 재확인">
					</span> 
				</div>
				<div>
					<span><input type="text" id="name" placeholder="이름"></span>
				</div>
				<div>
					<span>
						<input type="text" id="nickname" placeholder="별명"> <br>
						<input type="button"style="background-color: #4CA950; border-radius: 20px; padding: 10px; color:white;" id="nickchk" value="중복검사"> <br>
					</span>
				</div>
				<div>
					<span><select id="phone1">
							<option value="010">010</option>
							<option value="011">011</option>
							<option value="012">012</option>
					</select> - <input type="text"id="phone2" maxlength="4" style="width:80px;"> - <input type="text"style="width:80px;"id="phone3"
						maxlength="4"></span>
				</div>
				<div>
					<span><input type="date" id="birth"></span>
				</div>
				<div>
					<span><input type="button" name="join" id="join"
						value="회원가입"style="background-color: #4CA950; border-radius: 20px; padding: 10px; color:white;"> </span>
				</div>
			</div>
		</form>
	</main>
	<script type="text/javascript" src="/js/register.js"></script>
</body>
</html>