<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>비밀번호 변경</title>
	</head>
	<body>
		<!-- header <header ht:replace="::header"></header> -->
		<main class="container" style="display: flex; justify-content: center;">
			<div style="margin:auto; display: inline-block; padding: 30px;" th:if="${session.member}!=null">
				<table>
					<tr>
						<td>
							<label for="lblPw">비밀번호</label>
						</td>
						<td>
							<input type="password" id=lblPw name="password" placeholder="비밀번호 입력">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button id="chgPw">확인</button>
							<button onclick="location.href='mypage'">돌아가기</button>
						</td>
					</tr>
				</table>
			</div>
			
			<div>
				<table>
					<tr>
						<td>
							<label for="lblPw">비밀번호</label>
						</td>
						<td>
							<input type="password" id=lblPw name="password" placeholder="비밀번호 입력">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button id="chkPw">확인</button>
							<button onclick="location.href='mypage'">돌아가기</button>
						</td>
					</tr>
				</table>
			</div>
			
		</main>
		<script type="text/javascript" src="/js/chgPw.js">
			const id = '[[${session.member.id}]]'
		</script>
		<script type="text/javascript" src="/js/chgPw.js"></script>
	</body>
</html>