<!DOCTYPE html>
	<html xmlns:th="http://www.thymleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>내 정보</title>
		<link rel="stylesheet" href="/css/mypage.css">
	</head>
	<body>
		<div th:replace="top :: myIncludedFragment"></div>
		<hr> <!-- 탑과 사이드를 구분하기 위해 추가 -->
		<div style="display: flex;"> <!-- 탑과 사이드를 같은 줄에 배치하기 위해 추가 -->
			<div style="flex-basis: 25%; min-width: 200px;">
				<div th:replace="side :: myIncludedFragment"></div>
			</div>
		</div>
		<div style="margin-top:50px; padding: 30px;">
			<h3>내 정보</h3>
			<table>
				<tr>
					<td>
						<label for="lblEmail">ID</label>
					</td>
					<td>
						<label for="lblEmail">[[${session.member.email}]]</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lblName">이름</label>
					</td>
					<td>
						<label for="lblName">[[${session.member.name}]]</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lblNickName">별명</label>
					</td>
					<td>
						<label for="lblNickName">[[${session.member.nickname}]]</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lblPhone">전화번호</label>
					</td>
					<td>
						<label for="lblPhone">[[${session.member.phone}]]</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lblBirth">생년월일</label>
					</td>
					<td>
						<label for="lblBirth">[[${session.member.birth}]]</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lblCreatAt">가입일자</label>
					</td>
					<td>
						<label for="lblCreatAt">[[${session.member.createAt}]]</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lblGrade">회원등급</label>
					</td>
					<td>
						<label for="lblGrade"><span id="grade"></span></label>
					</td>
				</tr>
				<tr>
					<td colspan="2" id="update">
						<button type="button" th:onclick="|location.href='@{/info/update}'|">내 정보 수정</button>
						<button type="button" th:onclick="|location.href='@{/info/chgpw}'|">비밀번호 변경</button>
					</td>
				</tr>
			</table>
		</div>
			
		<script type="text/javascript">
			const grade = '[[${session.member.grade}]]'
		</script>
		
		<script type="text/javascript" src="/js/mypage.js"></script>
		
	</body>
</html>

