<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>내 정보 수정</title>
		<!-- css <link rel="stylesheet" href="css/join.css"> -->
		<!-- js <script type="text/javascript" src="js/update.js"></script> -->
		<!-- bootstrap <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
		<!-- font style <script src="https://kit.fontawesome.com/352c53403e.js" crossorigin="anonymous"></script> -->
	</head>
	<body>
		<!-- header <header ht:replace="::header"></header> -->
		<main class="container" style="display: flex; justify-content: center;">
			<div style="margin:auto; display: inline-block; padding: 30px;">
				<table>
					<tr>
						<td>
							<label for="lblId">아이디</label>
						</td>
						<td>
							<input type="text" id="lblId" name="id" th:value="${session.member.id}" readonly>
						</td>
					</tr>
					<tr>
						<td>
							<label for="lblName">이름</label>
						</td>
						<td>
							<input type="text" id="lblName" name="name" th:value="${session.member.name}" readonly>
						</td>
					</tr>
					<tr>
						<td>
							<label for="lblNickName">별명</label>
						</td>
						<td>
							<input type="text" id="lblNickName" name="nickname" th:value="${session.member.nickname}">
						</td>
						<td>
							<label id="nickChk"></label>
						</td>
					</tr>
					<tr>
						<td>
							<label for="lblPhone">전화번호</label>
						</td>
						<td>
							<input type="text" id="lblPhone" name="phone" th:value="${session.member.phone}">
						</td>
						<td>
							<label id="phoneChk"></label>
						</td>
					</tr>
					<tr>
						<td>
							<label for="lblEmail">e-mail</label>
						</td>
						<td>
							<input type="text" id="lblEmail" name="email" th:value="${session.member.email}">
						</td>
						<td>
							<label id="emailChk"></label>
						</td>
					</tr>
					<tr>
						<td>
							<label for="lblBirth">생년월일</label>
						</td>
						<td>
							<input type="text" id="lblBirth" name="birth" th:value="${session.member.birth}" readonly>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button id="update">수정하기</button>
							<button onclick="location.href='mypage'">돌아가기</button>
						</td>
					</tr>
				</table>
			</div>
		</main>
		<script type="text/javascript">
			const birth = '[[${session.member.birth}]]';
			const createAt = '[[${session.member.createAt}]]';
			const grade = '[[${session.member.grade}]]';
		</script>
		<script type="text/javascript" src="/js/update.js"></script>
	</body>
</html>

