<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" src="/js/index.js"></script>
<link href="/css/index.css" rel="stylesheet">
<title>레시피 천국</title>
<style type="text/css">
#cnt{
	width: 400px; 
	height: 500px; 
	padding: 30px; 
	border: 3px solid gray; 
	margin: auto; 
	float: left;
}
td{
	text-align: center;
}
tr,th,td,tr{
	margin: auto;
	padding: 3px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #000;
}
.row{
display: flex;
flex-direction: column;
width: 100%
}
hr{
	width: 80%;
}

</style>
</head>
<body>
	<div>
	<div th:replace="top :: myIncludedFragment"></div>
	<hr> <!-- 탑과 사이드를 구분하기 위해 추가 -->
	<div> <!-- 탑과 사이드를 같은 줄에 배치하기 위해 추가 -->
		<div style="flex-basis: 40%; margin-top:50px; margin-left: 18%;">
			<div th:replace="side :: myIncludedFragment"></div>
		</div>
		<!-- 위에 인크루드 할 내용들 -->
		
		<div class="row">
		<div style="flex-basis: 100%; min-width: 400px; margin-top: 50px;" > <!-- 변경된 부분: 사이드 너비를 25%로 지정하고, 나머지 부분에 글 목록을 배치 -->
			<div style="margin: auto; display: inline-block; padding: 30px;">
				<div id="cnt">
					<h4 style="text-align: center; margin: auto;">30추 글</h4>
					<table class="userupdate" style="table-layout: fixed;">
						<tr style="text-align: center; height: 15px;">
							<th style="height:15px;">카테고리</th>
							<th style="height:15px;">제목</th>
							<th style="height:15px;">닉네임</th>
							<th style="height:15px;">조회수</th>
							<th style="height:15px;">날짜</th>
						</tr>
						<th:block th:each="vo:${viewcnt}">
							<tr class="out" style="height:15px;">
								<td style="height:15px;">
									<th:block th:if="${vo.category == '레시피'}">
								    <a href="#" class="board">[[${vo.subCate}]]</a>
									</th:block>
									<th:block th:unless="${vo.category == '레시피'}">
								    <a href="2#" class="board">[[${vo.category}]]</a>
									</th:block>
								</td>
								<td  style="height:15px;">
							        <span th:text="${#strings.length(vo.title) &gt; 4} ? ${#strings.substring(vo.title, 0, 4) + '...'} : ${vo.title}"></span>
								</td>
								<td style="height:15px;">[[${vo.nickname}]]</td>
								<td style="height:15px;">[[${vo.viewcnt}]]</td>
								<td style="height:15px;">
									<th:block th:with="regdate=${#temporals.format(vo.regdate, 'yyyy-MM-dd')}">
									    <span th:if="${#strings.equals(regdate, today)}">
									        [[${#temporals.format(vo.regdate, 'HH:mm')}]]
									    </span>
									    <span th:unless="${#strings.equals(regdate, today)}">
									        [[${#temporals.format(vo.regdate, 'MM-dd' )}]]
									    </span>    
									</th:block>
								</td>
							</tr>
						</th:block>
					</table>
				</div>

				<div id="cnt"style="margin-left: 30px; margin-right: 30px;">
					<h4 style="text-align: center; margin: auto;">인기 글</h4>
					<table class="userupdate" style="table-layout: fixed;">
						<tr style="text-align: center; height:15px;">
							<th style="height:15px;">카테고리</th>
							<th style="height:15px;">제목</th>
							<th style="height:15px;">닉네임</th>
							<th style="height:15px;">조회수</th>
							<th style="height:15px;">날짜</th>
						</tr>
						<th:block th:each="vo:${cnt}">
							<tr class="out" style="height: 15px;">
								<td style="height:15px;">
								<th:block th:if="${vo.category == '레시피'}">
								    <a href="#" class="board">[[${vo.subCate}]]</a>
									</th:block>
									<th:block th:unless="${vo.category == '레시피'}">
								    <a href="2#" class="board">[[${vo.category}]]</a>
									</th:block>
								</td>
								<td style="height:15px;"> <span th:text="${#strings.length(vo.title) &gt; 4} ? ${#strings.substring(vo.title, 0, 4) + '...'} : ${vo.title}"></span></td>
								<td style="height:15px;">[[${vo.nickname}]]</td>
								<td style="height:15px;">[[${vo.viewcnt}]]</td>
								<td style="height:15px;">
								<th:block th:with="regdate=${#temporals.format(vo.regdate, 'yyyy-MM-dd')}">
									    <span th:if="${#strings.equals(regdate, today)}">
									        [[${#temporals.format(vo.regdate, 'HH:mm')}]]
									    </span>
									    <span th:unless="${#strings.equals(regdate, today)}">
									        [[${#temporals.format(vo.regdate, 'MM-dd' )}]]
									    </span>    
								</th:block>
								</td>
							</tr>
						</th:block>
					</table>
				</div>

				<div id="cnt">
					<h4 style="text-align: center; margin: auto;">최근 올라온 글</h4>
					<table class="userupdate" style="table-layout: fixed;">
						<tr style="text-align: center;height: 15px;">
							<th style="height:15px;">카테고리</th>
							<th style="height:15px;">제목</th>
							<th style="height:15px;">닉네임</th>
							<th style="height:15px;">조회수</th>
							<th style="height:15px;">날짜</th>
						</tr>
						<th:block th:each="vo:${reg}">
							<tr class="out" style="height: 15px;">
								<td style="height:15px;">
								<th:block th:if="${vo.category == '레시피'}">
								    <a href="#" class="board">[[${vo.subCate}]]</a>
									</th:block>
									<th:block th:unless="${vo.category == '레시피'}">
								    <a href="2#" class="board">[[${vo.category}]]</a>
									</th:block>
								</td>
								<td style="height:15px;"><span th:text="${#strings.length(vo.title) &gt; 4} ? ${#strings.substring(vo.title, 0, 4) + '...'} : ${vo.title}"></span></td>
								<td style="height:15px;">[[${vo.nickname}]]</td>
								<td style="height:15px;">[[${vo.viewcnt}]]</td>
								<td style="height:15px;">
								<th:block th:with="regdate=${#temporals.format(vo.regdate, 'yyyy-MM-dd')}">
									    <span th:if="${#strings.equals(regdate, today)}">
									        [[${#temporals.format(vo.regdate, 'HH:mm')}]]
									    </span>
									    <span th:unless="${#strings.equals(regdate, today)}">
									        [[${#temporals.format(vo.regdate, 'MM-dd' )}]]
									    </span>    
								</th:block>
								</td>
							</tr>
						</th:block>
					</table>
				</div>
			</div>
		</div>
	</div>
<br>
<hr>
<div style="flex-basis: 100%; min-width: 400px;">
	<h4>인기 많은 레시피(Top5 Youtube)</h4>
	<div class="container top10"></div>
	<h4>최근 올라온 레시피(Top5 Youtube)</h4>
	<div class="container latest10"></div>
</div>
	<hr>
<div style="flex-basis: 90%; min-width: 400px;">
	<h3>광고 후원업체</h3>
	<h3>신선한 재료 사러가기</h3>
	<a href="https://www.coupang.com/np/categories/393760" target="_blank"><span>쿠팡 프레시</span></a><br>
	<a href="https://www.ssg.com" target="_blank"><span>SSG</span></a>
</div>
</div>
</div>
</body>
</html>