<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="login" method="post">
	<input type="text" placeholder="아이디" name="id" id="id">
	<input type="text" placeholder="패스워드" name="password" id="password">
	<div class="col-md-4">
	 <a href="https://kauth.kakao.com/oauth/authorize
    ?client_id=4eead52999876bcfc7ce7055b011e867
    &redirect_uri=ttp://localhost:8083/kakao/callback
    &response_type=code">로그인</a>
</div>
	<button>로그인</button>
</form>
</body>
</html>