<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상세보기</title>
</head>
<body>

	<div id="post-area" class="post-area">
		<div class="_naver_comment_skin_property"
			style="position: absolute; z-index: -100; visibility: hidden">
			<span class="pcol2"></span> <span class="cline"></span> <span
				class="pcol3"></span> <span class="comment"></span> <span
				class="btn"></span> <span class="pcol2b"></span>
		</div>
		<div id="postListBody">
			<div id="post_1" class="post _post_wrap _param(1)"
				data-post-editor-version="4">
				<div class="post-back">
					<table class="post-head" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td class="htl" nowrap="nowrap"></td>
								<td class="htc"></td>
								<td class="htr" nowrap="nowrap"></td>
							</tr>
						</tbody>
					</table>
					<table id="printPost1" class="post-body" cellspacing="0"
						cellpadding="0" role="presentation">
						<tbody>
							<tr>
								<td class="bcl" nowrap="nowrap"></td>
								<td class="bcc">

									<div id="post-view223064306214"
										class="wrap_rabbit pcol2 _param(1) _postViewArea223064306214">
										<!-- Rabbit HTML -->
										<div class="se-viewer se-theme-default" lang="ko-KR">
											<!-- SE_DOC_HEADER_START -->
											<div class="se-component se-documentTitle se-l-default "
												id="SE-3e0440cc-eb4f-4080-8208-0eb9f7d776f0">
												<div class="se-component-content">
													<div
														class="se-section se-section-documentTitle se-l-default se-section-align-center">
														<!-- -->
														<div class="pcol1">
															<!-- -->
															<div class="se-module se-module-text se-title-text">
																<p
																	class="se-text-paragraph se-text-paragraph-align-center"
																	style="" id="SE-0ca5be5b-f750-4cb2-9134-c9d649219233">
																	<span style="" class="se-fs- se-ff-nanumbarungothic"
																		id="SE-4cd439b4-09b8-4626-ab15-693cbd4cf5d2">
																		<!-- -->마곡 참치 복남참치<!-- -->
																	</span>
																</p>
															</div>
															<!-- -->
														</div>
														<div class="blog2_container">
															<span class="writer"> <span class="area_profile"><a
																	href="https://blog.naver.com/zladizl" class="link"
																	onclick="nclk_v2(this,'pst.profile','','');"
																	target="_top"><img
																		src="https://blogpfthumb-phinf.pstatic.net/MjAyMzAyMTJfNjMg/MDAxNjc2MTY3MjA5NTY4.eiNl5dYxQdDrajIczxQBmusVLTpnJET7KT2F1kRDMaAg.jD_sFBWXuj4SYXGtdvcK5_uP5GKKfMXdGbJ5Y0X-HC8g.JPEG.zladizl/profileImage.jpg?type=s1"
																		class="img egjs-visible" alt="프로파일"></a></span> <span
																class="nick"><a
																	href="https://blog.naver.com/zladizl"
																	class="link pcol2"
																	onclick="nclk_v2(this,'pst.username','','');"
																	target="_top">킴야키</a></span>
															</span> <i class="dot"> ・ </i> <span
																class="se_publishDate pcol2">2시간 전</span>

														</div>
													</div>
												</div>
											</div>
											<!-- B2C 상품 -->
											<div class="location_component">
												<div class="location"></div>
											</div>
											<!-- _BLOG_CONTENTS_HEADER_TAIL -->
											<!-- SE_DOC_HEADER_END -->
											<div class="se-main-container">
												<div class="se-component se-image se-l-default"
													id="SE-13f08067-adcc-4aa8-a7a5-5eff60d88e15">
													<div
														class="se-component-content se-component-content-extend">
														<div
															class="se-section se-section-image se-l-default se-section-align-center">
															<div class="se-module se-module-image" style="">
																<a
																	class="se-module-image-link __se_image_link __se_link"
																	style="" onclick="return false;" data-linktype="img"
																	data-linkdata="{&quot;id&quot; : &quot;SE-13f08067-adcc-4aa8-a7a5-5eff60d88e15&quot;, &quot;src&quot; : &quot;https://postfiles.pstatic.net/MjAyMzA0MDJfMzAw/MDAxNjgwMzk2NTI4MDgx.BYUp3vSv_G5v85QM6qBcyP8dpUNDEd7ik2ZyxVV495Eg.ZkS42g0FAl8vcNNRIgwanBfL2w73-c3F-TtmhC3vm38g.JPEG.zladizl/SE-13f08067-adcc-4aa8-a7a5-5eff60d88e15.jpg&quot;, &quot;originalWidth&quot; : &quot;3000&quot;, &quot;originalHeight&quot; : &quot;3000&quot;, &quot;linkUse&quot; : &quot;false&quot;, &quot;link&quot; : &quot;&quot;}"
																	area-hidden="true"> <img
																	src="https://postfiles.pstatic.net/MjAyMzA0MDJfMzAw/MDAxNjgwMzk2NTI4MDgx.BYUp3vSv_G5v85QM6qBcyP8dpUNDEd7ik2ZyxVV495Eg.ZkS42g0FAl8vcNNRIgwanBfL2w73-c3F-TtmhC3vm38g.JPEG.zladizl/SE-13f08067-adcc-4aa8-a7a5-5eff60d88e15.jpg?type=w966"
																	data-lazy-src="" data-width="886" data-height="885"
																	alt="" class="se-image-resource egjs-visible">
																</a>
															</div>
														</div>
													</div>
												</div>
												<div class="se-component se-text se-l-default"
													id="SE-429d32af-d82a-467a-b4b8-1ec55180d3df">
													<div class="se-component-content">
														<div class="se-section se-section-text se-l-default">
															<div class="se-module se-module-text">
																<!-- SE-TEXT { -->
																<p
																	class="se-text-paragraph se-text-paragraph-align-center "
																	style="" id="SE-e5e60d6c-aa7d-4a67-aae9-59161ab7456f">
																	<span style="" class="se-fs- se-ff-nanumbarungothic   "
																		id="SE-297acfe8-7735-4875-884a-48f067c2072a">​</span>
																</p>
																<!-- } SE-TEXT -->
																<!-- SE-TEXT { -->
																<p
																	class="se-text-paragraph se-text-paragraph-align-center "
																	style="" id="SE-4ee76ce2-685e-4c8b-a5d3-232772b6d1c9">
																	<span style="" class="se-fs- se-ff-nanumbarungothic   "
																		id="SE-68203a2a-2d8b-419f-876b-a521e564542a">마지막은
																		깔끔하게</span>
																</p>
																<!-- } SE-TEXT -->
																<!-- SE-TEXT { -->
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
										</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>


	</div>
</body>
</html>