<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>레시피 커뮤니티</h3>
	<hr>
	<ul>
	<li>
				<ul class="rowme">   <!-- 부트스트랩과 id이름 충돌하여 변경  -->
					<li>제목</li>
					<li th:text="${vo.title}"></li>
					<li>조회수</li>
					<li th:text="${vo.viewcnt}"></li>
				</ul>
			</li>
			<li>
				<ul class="rowme">
					<li>작성자</li>
					<li>[[${vo.nickname}]]
					<span style="font-size: 70%; padding-left: 30px;" th:text="(${vo.nickname})"></span></li>
					<li>작성날짜</li>
					<li th:text="${#temporals.format(vo.regdate,'yyyy-MM-dd HH:mm')}"></li>
				</ul>
			</li>
			<li id="content">
				<ul>
					<li>내용</li>			
					<!-- textarea에 입력한 엔터는 \n db에도 \n으로 저장됩니다.
					     브라우저 출력은 줄바꿈은 <br> 태그 해결1) pre 태그, 해결  2) \n을 <br>로 대치-->	
					<li>
						<pre th:text="${vo.content}"></pre>
					</li>				
				</ul>
			</li>
	</ul>
	<div style="text-align: center;margin-bottom: 10px;">
	<span th:if="${session.member}!=null and ${session.member.id}==${vo.writer}">
	 <!-- session 에 저장된 user애트리뷰트의 id와 작성자의 id 가 같은면 보이기 -->
		<a class="button" th:href="|javascript:execute(1)|">수정</a>  <!-- 자바스크립트 함수:인자값 1은 수정 -->
		<a class="button" th:href="|javascript:execute(2)|">삭제</a>  <!-- 자바스크립트 함수:인자값 2는 삭제  -->
	</span>
		<a class="button" th:href="@{list(Cate=${Cate},a=${a},page=${page})}">목록</a>   <!-- 현재페이지 번호 전달 - 순서3) -->
	</div>
	<hr>
	<form method="post" th:action="@{/read}" th:object="${com}">
    <input type="hidden" th:name="merf" th:value="${vo.idx}">
    <input type="hidden" th:name="cate" th:value="${vo.Category}" />
    <input type="hidden" th:name="a" th:value="${a}" />
    <input type="hidden" th:name="page" th:value="${page}" />
    <p>
        <label>댓글 작성자</label> <input type="text" th:name="nickname" />
    </p>
    <p>
        <label for="contents">댓글 내용</label>
        <textarea rows="5" cols="50" th:name="contents" id="contents"></textarea>
    </p>
    <p>
        <button type="submit">댓글 작성</button>
    </p>
    
</form>
    <div th:each="cmt : ${cmtlist}">
  <ul class="crow">
    <li >작성자:${cmt.nickname}</li>
    <li >작성 날짜:${cmt.createdate}</li>
<!--     <li th:if="${session.member != null and session.member.id == cmt.writer}">
      <a href="javascript:executeCmt('2', ${cmt.idx})">삭제</a> -->
  <!--   </li> -->
    <li>
   ${cmt.contents}
    </li>
  </ul>
</div>
<script type="text/javascript">
function execute(event) {
	event.preventDefault(); // 기본 이벤트 중지

    const contents = document.querySelector("#contents").value; // textarea 내용 가져오기
    const form = event.target.form; // 폼 요소 가져오기

    // FormData 객체 생성
    const formData = new FormData(form);
    formData.append("contents", contents);

    // Ajax를 사용하여 댓글 작성 처리
    const xhr = new XMLHttpRequest();
    xhr.open(form.method, form.action);
    xhr.send(formData);
  
	}
</script>
</body>
</html>