<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="myIncludedFragment">
		<style type="text/css">
.sidebar {
	position: fixed;
	top: 10%;
	left: 0;
	border-radius: 20px;
	width: 250px;
	background-color: #f8f9fa;
	border-right: 1px solid #dee2e6;
	height: calc(115vh - 200px);
}

.sidebar h4 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	margin-bottom: 10px;
}

.sidebar ul li a {
	display: block;
	padding: 5px 10px;
	color: #212529;
	text-decoration: none;
	transition: background-color 0.3s;
}

.sidebar ul li a:hover {
	background-color: #dee2e6;
}
</style>
		<div class="sidebar" style="background-color: gray;">
			<div
				style="background-color: #4CA950; border-radius: 20px; padding: 10px;">
				<form action="login" method="post" th:if="${session.user} == null">
					<input type="text" name="email" id="email"
						style="display: flex; justify-content: center;width: 60%; border-radius: 5px; margin: auto; border: 1px solid rgb(0, 128, 0); padding: 10px; justify-content: center; text-align: center; height: 10px; font-size: 5px;"
						placeholder="이메일 입력"> <input type="password"
						name="password" id="password"
						style="display: flex; justify-content: center;width: 60%; text-align: center; border-radius: 5px; border: 1px solid rgb(0, 128, 0); padding: 10px; height: 10px; font-size: 5px; margin: auto"
						placeholder="비밀번호 입력">
					<div style="display: flex; justify-content: center;">
						<button
							style="width: 80%; height: 60px; cursor: pointer; background-color: rgb(0, 128, 0); color: white; font-size: 16px; border: none; padding: 10px; border-radius: 5px;">로그인</button>
					</div>
				<div style="font-size: 9px; text-align: center;">
					<a style="color: white;" href="register">회원가입</a> <a
						style="color: white;" href="javascript:finduser()">아이디/비밀번호 찾기</a>
				</div>
				</form>
				<div class="user-profile" th:if="${session.user} != null">
							<div style="display: flex; justify-content: center;">
							<button style="width: 80%; height: 60px; cursor: pointer; background-color: rgb(0, 128, 0); color: white; font-size: 16px; border: none; padding: 10px; border-radius: 5px;">
							<a href="logout" style="color:white;">로그아웃</a>
							</button>
							</div>
					<div class="user-info">
						<div class="user-name" th:text="${session.user.name}"></div>
						<div class="user-grade" th:if="${session.user.grade} == 0" th:text="관리자"></div>
						<div th:if="${session.user.grade} == 1" th:text="요린이"></div>
						<div th:if="${session.user.grade} == 2" th:text="요리사"></div>
						<div th:if="${session.user.grade} == 3" th:text="셰프"></div>
						<div th:if="${session.user.grade} == 4" th:text="고든램지"></div>
					</div>
					<div class="user-links">
						<a href="{my_posts_link}" class="my-posts">내가 쓴 글 보기</a> <a
							href="{user_edit_link}" class="edit-profile">회원 정보 수정</a> 
					</div>
				</div>

				<div style="display: inline-block;">
					<form method="get" th:action="search" style="margin-top: 50px;">
						<select id="a" name="a"
							style="border: 1px solid rgb(0, 128, 0); border-radius: 5px; font-size: 5px; width: 20%; height: 20px;">
							<option value="0">전체</option>
							<option value="1">카테고리</option>
							<option value="2">제목</option>
							<option value="3">내용</option>
						</select> <input type="text" name="search" id="search"
							style="border: 1px solid rgb(0, 128, 0); border-radius: 5px; width: 50%; height: 20px; font-size: 5px;"
							placeholder="검색">
						<button type="button" onclick="search()"
							style="cursor: pointer; border: 1px solid rgb(0, 128, 0); color: white; border-radius: 5px; background-color: rgb(0, 128, 0); width: 18%; height: 20px; font-size: 1px;">검색</button>
					</form>
				</div>
			</div>
			<script type="text/javascript">
				function finduser(){
					window.open("/findUser","findUser","width=450, height=450, top=50, left=50");	
				}
			</script>
			<script type="text/javascript">
				function search() {
					const frm = document.forms[0];
					const value = frm.name.value;
					if (value == "") {
						alert('검색어를 입력해주세요.')
					} else if (value !== "") {
						frm.submit();
						location.href = "/shoppingMall/search?name=" + value;
					}
				}
			</script>
			<ul class="menu" style="margin-top: 50px;">
				<li><a href="#">전통음식</a></li>
				<li><a href="#">건강식</a></li>
				<li><a href="#">酒식</a></li>
				<li><a href="#">자유게시판</a></li>
				<li><a href="#">질문게시판</a></li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
</body>
</html>