<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<div th:fragment="myIncludedFragment">
<style type="text/css">
.sidebar {
  position: fixed;
  top: 10%;
  left: 0;
  width: 15%;
  padding: 20px;
  height: calc(100vh);
}

.sidebar h4 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	margin-bottom: 10px;
}

.sidebar ul li a {
	display: block;
	padding: 5px 10px;
	color: #212529;
	text-decoration: none;
	transition: background-color 0.3s;
}

.sidebar ul li a:hover {
	background-color: #dee2e6;
}
</style>
<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
<link href="/css/styles.css" rel="stylesheet">
<div class="sidebar">
 	<div
				style="background-color: #4CA950; border-radius: 20px; padding: 10px; height: 800px;">
				<form action="login" method="post" th:if="${session.member} == null" style="margin-top: 20px;">
					<input type="text" name="email" id="email"
						style="display: flex; justify-content: center;width: 60%; border-radius: 5px; margin: 10px auto; border: 1px solid rgb(0, 128, 0); padding: 15px; justify-content: center; text-align: center; height: 30px; font-size: 10px;"
						placeholder="이메일 입력"> 
					<input type="password"
						name="password" id="password"
						style="display: flex; justify-content: center;width: 60%; text-align: center; border-radius: 5px; border: 1px solid rgb(0, 128, 0); padding: 15px; height: 30px; font-size: 10px; margin: 10px auto;"
						placeholder="비밀번호 입력">
					<div style="display: flex; justify-content: center;">
						<button
							style="width: 80%; height: 60px; cursor: pointer; background-color: rgb(0, 128, 0); color: white; font-size: 16px; border: none; padding: 10px; border-radius: 5px; margin:auto;">로그인</button>
					</div>
				<div style="font-size: 9px; text-align: center; margin-top: 10px;">
					<a style="color: white;" href="register">회원가입</a> <a
						style="color: white;" href="javascript:finduser()">아이디/비밀번호 찾기</a>
				</div>
				</form>
				<div class="user-profile" th:if="${session.member} != null">
							<div style="display: flex; justify-content: center;">
							<button th:onclick="|location.href='@{/logout}'|" style="width: 80%; height: 60px; cursor: pointer; background-color: rgb(0, 128, 0); color: white; font-size: 16px; border: none; padding: 10px; border-radius: 5px;">
								로그아웃
							</button>
							</div>
					<div class="user-info">
						<div class="user-name" th:text="${session.member.name}"></div>
						<div class="user-grade" th:if="${session.member.grade} == 0" th:text="관리자"></div>
						<div th:if="${session.member.grade} == 1" th:text="요린이"></div>
						<div th:if="${session.member.grade} == 2" th:text="요리사"></div>
						<div th:if="${session.member.grade} == 3" th:text="셰프"></div>
						<div th:if="${session.member.grade} == 4" th:text="고든램지"></div>
					</div>
					<div class="user-links">
						<ul>
							<li>
								<a th:href="@{/info/mypage}" class="edit-profile">내 정보</a>
							</li>
							<li>
								<a th:href="@{/info/myboardlist}" class="my-posts">작성 글 보기</a> 
							</li>
						</ul>
					</div>
				</div>
  
<!-- ====================================================================== -->
 
  <div class="col-lg-8" style="width: 100%;">
                    <!-- Search widget-->
                            <form method="get" th:action="search" style="margin-top: 50px;">
                    <div class="card mb-4">
                        <div class="card-header" style="font-size: 20px;">Search</div>
                        <div class="card-body">
                            <div class="input-group">
								  	<select id="a" name="a" style="width: 30%; font-size: 15px;">
								  		<option value="0">전체</option>
								  		<option value="1">카테고리</option>
								  		<option value="2">제목</option>
								  		<option value="3">내용</option>
								  	</select>
                                	<input class="form-control" type="text" name="search" id="search" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button" onclick="searchData()">Go!</button>
                            </div>
                        </div>
                    </div>
								  </form>
                    <!-- Categories widget-->
                    <div class="card mb-4" style="font-size: 15px;">
                        <div class="card-header"style="font-size: 20px;">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
									    <li><a href="/list?Cate=레시피&a=0&page=1">모든 레시피</a></li>
									    <li><a href="/list?Cate=밥면죽&a=1&page=1">밥/면/죽</a></li>
									    <li><a href="/list?Cate=국류&a=1&page=1">국/찌개/전골</a></li>
									    <li><a href="/list?Cate=반찬&a=1&page=1">반찬</a></li>
									    <li><a href="/list?Cate=전통음식&a=1&page=1">전통음식</a></li>
									    <li><a href="/list?Cate=건강식&a=1&page=1">건강식</a></li>
									    <li><a href="/list?Cate=주식&a=1&page=1">酒식</a></li>
									    <li><a href="/list?Cate=자유&a=0&page=1">자유게시판</a></li>
									    <li><a href="/list?Cate=질문&a=0&page=1">질문게시판</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                  <div class="col-lg-8">
                    <!-- Post content-->
                    <!-- Comments section-->
                </div>
                </div>
                
                <div class="user-profile" th:if="${session.member} != null">
					<div class="user-links">
						<ul>
							<li>
								<a th:href="@{/chat/roomlist}" class="edit-profile">채팅</a>
							</li>
						</ul>
					</div>
				</div>
                
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
         
  <script type="text/javascript">
  function searchData() {
	  const frm = document.forms[0];
	  const value = frm.search.value;
	  if(value == ""){
		  alert('검색어를 입력해주세요.')
	  } else if(value !== "") {
		  frm.submit();
	  }
  }
  </script>
  <script type="text/javascript">
				function finduser(){
					window.open("/findUser","findUser","width=450, height=450, top=50, left=50");	
				}
			</script>
        </div>
</div>
</div>
</html>