<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="myIncludedFragment">
<style type="text/css">
.top {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo h1 {
  font-size: 28px;
  margin:0px;
  margin-left: 50px;
}

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
</style>
<header class="top">
  <div class="logo">
    <h1>레시피 천국</h1>
  </div>
  <nav class="menu">
    <ul>
      <li style="margin-left: 50px;"><a href="#">여기에는</a></li>
      <li><a href="#">무엇이</a></li>
      <li><a href="#">들어가야 할까</a></li>
    </ul>
  </nav>
</header>
</div>
</body>
</html>